/*
#################################################################################
### VARIABLER: START
#################################################################################
*/
:root{
    /* Globale innstillinger: */
    --logo: url("../img/ikea_logo.svg");
    --content-max-width: 900px;
    --section-vc-padding: 8rem;
    --content-hz-margin: 3rem;

    /* Farger: */
    --ikea-blå: #002B8E;
    --ikea-gul: #FFC502;
    --lys-grå: #F7F7F7;
    --sort-gjennomsiktig: rgba(0,0,0,0.5);

    /* Header: */
    --nav-height: 6rem;
    --nav-height-minus: -6rem;

    /* Main content: */

    /* Footer: */
    --footer-vc-padding: 4rem;

    /* Effekter: */
    --button-default-shadow: 0 .1em .2rem rgba(0, 0, 0, 0.2);
    --button-hover-shadow: 0 .35em 2rem rgba(0, 0, 0, 0.3);
    --button-default-anim: translateY(0);
    --button-hover-anim: translateY(-.25rem);
    --infobox-default-shadow: 0 .5rem 1rem rgba(0,0,0,0.3);
    --infobox-hover-shadow: 0 .75rem 3rem rgba(0,0,0,0.6);
    --infobox-default-anim: translateY(0);
    --infobox-hover-anim: translateY(-.25rem);
}
/*
#################################################################################
### VARIABLER: SLUTT
#################################################################################
*/




/*
=======================================
*/




/*
#################################################################################
### NULLSTILLING AV STANDARDINNSTILLINGER: START
#################################################################################
*/

/* Nullstilling av standard innstillinger: */
html *, body *{
    margin: 0;
    padding: 0;
    /* Margin & padding behaviour: */
    box-sizing: border-box;
}

/*
#################################################################################
### NULLSTILLING AV STANDARDINNSTILLINGER: SLUTT
#################################################################################
*/




/*
=======================================
*/




/*
#################################################################################
### Z-INDEX LAYERS: START
#################################################################################
*/

/* Synlighet av elementer: */
body    {z-index: 1;}
header  {z-index: 10;}
main    {z-index: 2;}
section {z-index: 3;}
footer  {z-index: 2;}

[data-nav-header]{z-index: -3;}
[data-scroll-up]{z-index: 10;}

/*
#################################################################################
### Z-INDEX LAYERS: SLUTT
#################################################################################
*/




/*
=======================================
*/




/*
#################################################################################
### GLOBALE STILER: START
#################################################################################
*/

[data-content]{
    /* Visning: */
    display: flex;

    /* Dimensjon: */
    width: 100%;
    max-width: var(--content-max-width);
}

[data-content] > *{
    /* Visning: */
    display: flex;

    /* Posisjon: */
    margin: 0 var(--content-hz-margin);
}




/* Bakgrunnsfarge: */
[data-b-color="grey"]{background-color: #F7F7F7;}
[data-b-color="ikea-blå"]{background-color: var(--ikea-blå);}




/* Vertikale mellomrom: */
[data-space="10"]{height: 1rem;}
[data-space="20"]{height: 2rem;}
[data-space="30"]{height: 3rem;}
[data-space="40"]{height: 4rem;}
[data-space="50"]{height: 5rem;}
[data-space="60"]{height: 6rem;}
[data-space="70"]{height: 7rem;}
[data-space="80"]{height: 8rem;}
[data-space="90"]{height: 9rem;}
[data-space="100"]{height: 10rem;}




/* Horisontal linje: */
hr{
    /*Dimsjoner:*/
    border: 0;
    height: 1px;
    width: 100%;

    /*Bakgrunn:*/
    background-color: rgba(0, 0, 0, 0.1);
}




[data-col]{
    /* Visning: */
    display: flex;
    flex-direction: column;

    /* Posisjon: */
    position: relative;
}




/* Vertikal justering av elementer: */
[data-vc-align="top"]{justify-content: flex-start;}
[data-vc-align="center"]{justify-content: center;}
[data-vc-align="bottom"]{justify-content: flex-end;}

/* Vertikal justering av elementer: */
[data-hz-align="top"]{align-items: flex-start;}
[data-hz-align="center"]{align-items: center;}
[data-hz-align="bottom"]{align-items: flex-end;}

/* Horisontal justering av tekst: */
[data-txt-align="left"]{text-align: left;}
[data-txt-align="center"]{text-align: center;}
[data-txt-align="rigtht"]{text-align: right;}
[data-txt-align="justify"]{text-align: justify;}




[data-col] img{
    /* Visning: */
    display: flex;
    width: 100%;
    height: auto;
}




[data-button]{
    /* Visning: */
    display: table;
    border-radius: .4rem;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /* Dimensjoner: */
    padding: .75em 1em;

    /* Typo: */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--ikea-blå);

    /* Bakgrunn: */
    background-color: var(--lys-grå);

    /* Effekt: */
    box-shadow: var(--button-default-shadow);
    transform: var(--button-default-anim);
    transition-property: box-shadow, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
[data-button]:hover{
    /*Effekt:*/
    box-shadow: var(--button-hover-shadow);
    transform: var(--button-hover-anim);
    transition-property: box-shadow, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
[data-button="small"]{padding: .5em .75em; font-size: 1.2rem;}
[data-button="large"]{padding: .5em .75em; font-size: 2rem; font-weight: 900;}
[data-button-style="ikea-blå"]{color: white; background-color: var(--ikea-blå);}




input, textarea, select{
    /* Visning: */
    display: flex;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    overflow: hidden;
    border-radius: .4rem;

    /* Dismensjoner: */
    max-width: 30rem;
    width: 100%;
    padding: 1em 1.5em;
    margin: 1rem 0;

    /* Typo: */
    font-size: 1.6rem;

    /* Posisjon: */
    position: relative;

    /* Bakgrunn: */
    background-color: var(--lys-grå);

    /* Effekt: */
    box-shadow: var(--button-default-shadow);
}

input{
    /* Visning: */
    display: flex;

    /* Dimensjoner: */
    width: 100%;
}

select{
    /* Bakgrunn: */
    background-image: url("../img/ui/keyboard_arrow_down_black.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 1rem);
    background-position-y: center;
}

textarea{
    resize: vertical;
}

/* Tekstfarge på input-elementer */
::-webkit-input-placeholder {color: var(--sort-gjennomsiktig);}
:-moz-placeholder {color: var(--sort-gjennomsiktig); opacity:  1;}
::-moz-placeholder {color: var(--sort-gjennomsiktig); opacity: 1;}
:-ms-input-placeholder {color: var(--sort-gjennomsiktig);}
::-ms-input-placeholder {color: var(--sort-gjennomsiktig);}
select{color: var(--sort-gjennomsiktig);}




table *{
    /* Visning: */
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}

table, table tr, table th, table td{
    /* Visning: */
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}

table{
    /* Visning: */
    overflow: hidden;
    border-radius: .4rem;

    /* Dimensjoner: */
    width: 100%;
    border: 1px solid #ccc;

    /* Effekter: */
    box-shadow: var(--button-default-shadow);
}

tr:first-child{
    /* Typo: */
    color: white;

    /* Dimensjoner: */
    border: 1px solid var(--ikea-blå);

    /* Bakgrunn: */
    background-color: var(--ikea-blå);
}

table tr:nth-child(even):not(:first-child){background-color: #f7f7f7;}
table tr:nth-child(odd):not(:first-child){background-color: #e7e7e7;}
table tr:not(:first-child) th{text-align: left;}
table tr:not(:first-child) td{text-align: right;}
table tr:not(:first-child) th, table tr:not(:first-child) td{
    border: 1px solid #ccc;
}
table tr:first-child th:not(:last-child){border-right: 1px solid rgba(255, 255, 255, 0.1);}

table th, table td{
    /* Dimensjoner: */
    padding: 1rem;
}




[data-pricetag]{
    /*Visning:*/
    display: table;
    overflow: hidden;

    /*Effekter:*/
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
}

[data-pricetag] > *{
    /*Dimensjoner:*/
    margin: 0;
    padding: 10px 15px 10px 15px;
}

[data-pricetag] h2{
    /*Typo:*/
    font-size: var(--default-h1-size);
    font-weight: 700;
    text-align: center;

    /*Bakgrunn:*/
    background-color: #f1f1f1;
}

[data-pricetag] h3{
    font-size: var(--default-p-size);
    font-weight: 400;
    /* text-transform: uppercase; */
    letter-spacing: 0.05em;
    color: white;
    background-color: var(--ikea-blå);
}

ikea-infobox{
    /*Visngin:*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    /*Dimensjoner:*/
    width: 25rem;
    max-width: 25rem;
    border-radius: 1rem;

    /*Typo:*/
    color: white;

    /*Bakgrunn:*/
    background-color: var(--ikea-blå);

    /*Effekt:*/
    box-shadow: var(--infobox-default-shadow);
    transform: var(--infobox-default-anim);
    transition-property: box-shadow, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

ikea-infobox:hover{
    /*Effekt:*/
    box-shadow: var(--infobox-hover-shadow);
    transform: var(--infobox-hover-anim);
    transition-property: box-shadow, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

ikea-infobox > ikea-infobox-icon,
ikea-infobox > ikea-infobox-title,
ikea-infobox > ikea-infobox-text{
    /*Visning:*/
    display: block;

    /*Typo:*/
    text-align: center;

    /*Dimensjoner:*/
    width: 100%;
}

ikea-infobox > [data-material-icons]{
    /*Typo:*/
    font-size: 4.5rem;
    color: inherit;

    /*Dimensjoner:*/
    padding: 3rem 2rem 0 2rem;

    /*Bakgrunn:*/
    /*background-color: red;*/
}

ikea-infobox > ikea-infobox-title{
    /*Typo:*/
    font-size: var(--default-h3-size);
    font-weight: 700;
    line-height: 1.3em;
    color: inherit;

    /*Dimensjoner:*/
    padding: 2rem 2rem 2rem 2rem;

    /*Bakgrunn:*/
    /*background-color: green;*/
}

ikea-infobox > ikea-infobox-text{
    /*Typo:*/
    font-size: var(--default-p-size);
    font-weight: 400;
    line-height: 1.3em;
    color: inherit;

    /*Dimensjoner:*/
    padding: 0 2rem 3rem 2rem;

    /*Bakgrunn:*/
    /*background-color: blue;*/
}

[data-padding-collapse="top"]{padding-top: 0;}
[data-padding-collapse="bottom"]{padding-bottom: 0;}
[data-padding-collapse="left"]{padding-left: 0;}
[data-padding-collapse="right"]{padding-right: 0;}

[data-scroll-down]{
    /*Visning:*/
    display: flex;
    cursor: pointer;

    /*Dimensjoner:*/
    height: 6rem;
    width: 6rem;

    /*Posisjon:*/
    position: absolute;
    bottom: 1rem;
    left: calc(50% - ( 6rem / 2 ) );

    /*Bakgrunn:*/
    background-image: url("../img/ui/arrow_down_white.svg");
    background-repeat: no-repeat;
    background-size: 3rem;
    background-position: center;


    /*Effekter:*/
    filter: drop-shadow(0 .2rem .2rem rgba(0,0,0,0.4));

    /*Anima:*/
    animation: bounce 1s infinite ease-out;
    -webkit-animation: bounce 1s infinite ease-out;
    -moz-animation: bounce 1s infinite ease-out;
    -ms-animation: bounce 1s infinite ease-out;
    -o-animation: bounce 1s infinite ease-out;
}

[data-scroll-up]{
    /*Visning:*/
    display: flex;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;

    /*Dimensjoner:*/
    width: 5rem;
    height: 5rem;

    /*Posisjon:*/
    position: fixed;
    bottom: var(--content-hz-margin);
    right: var(--content-hz-margin);

    /*Bakgrunn:*/
    background-image: url("../img/ui/arrow_up.svg");
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center;
    background-color: white;

    /*Effekter:*/
    box-shadow: var(--button-default-shadow);
    transform: var(--button-default-anim);
    transition-property: box-shadow, transform;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
[data-scroll-up]:hover{
    box-shadow: var(--button-hover-shadow);
    transform: var(--button-hover-anim);
    transition-property: box-shadow, transform;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

[data-scroll-point]{
    /*Posisjon:*/
    position: absolute;
}
[data-scroll-point="default"]{margin-top: var(--nav-height-minus);}
[data-scroll-point="apex"]{top:0;}

/*
#################################################################################
### GLOBALE STILER: SLUTT
#################################################################################
*/




/*
=======================================
*/




/*
#################################################################################
### ANIMASJONER: START
#################################################################################
*/

@keyframes bounce{ /* Scroll-down-arrow animation. */

    0%{
        transform: translate(0, -10px);
        -webkit-transform: translate(0, -10px);
        -moz-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
        -o-transform: translate(0, -10px);
    }

    25%{
        transform: translate(0, -8px);
        -webkit-transform: translate(0, -8px);
        -moz-transform: translate(0, -8px);
        -ms-transform: translate(0, -8px);
        -o-transform: translate(0, -8px);

    }

    50%{
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }

    75%{
        transform: translate(0, -8px);
        -webkit-transform: translate(0, -8px);
        -moz-transform: translate(0, -8px);
        -ms-transform: translate(0, -8px);
        -o-transform: translate(0, -8px);
    }

    100%{
        transform: translate(0, -10px);
        -webkit-transform: translate(0, -10px);
        -moz-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
        -o-transform: translate(0, -10px);
    }
}
/*
#################################################################################
### ANIMASJONER: SLUTT
#################################################################################
*/




/*
=======================================
*/




/*
#################################################################################
### HEADER: START
#################################################################################
*/


header{
    /* Visning: */
    display: flex;
    justify-content: center;

    /* Dimensjoner: */
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: var(--nav-height);
    min-height: var(--nav-height);
    max-height: var(--nav-height);

    /* Posisjon: */
    position: fixed;
    top: 0;
    left: 0;
}

header::before{
    /* Posisjon: */
    position: fixed;
    top: 0;
    left: -100px;

    /* Dimensjoner: */
    width: calc(100% + 200px);
    min-width: calc(100% + 200px);
    max-width: calc(100% + 200px);
    height: var(--nav-height);
    min-height: var(--nav-height);
    max-height: var(--nav-height);

    /* Innhold: */
    content: "";

    /* Bakgrunn: */
    background-color: white;

    /*Effekt:*/
    box-shadow: 0 .5rem 2rem rgba(0,0,0,0.1);

    /* Synlighet: */
    z-index: -2;
}

[data-content="header"]{
    /* Visning: */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* Dimensjoner: */
    width: 100%;
    max-width: var(--content-max-width);
    height: var(--nav-height);

    /* Posisjon: */
    position: relative;

    /* Backgrunn */
    /*background-color: green;*/
}

ikea-logo{
    /* Visning: */
    display: flex;
    cursor: pointer;

    /* Dimensjoner: */
    width: 10rem;
    height: 4rem;

    /* Posisjon: */
    position: relative;

    /* Bakgrunn: */
    background-image: url("../img/brand/ikea_logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    /*background-color: red;*/
}

[data-nav-header]{
    /* Visning: */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;

    /* Dimensjoner: */
    /*height: 50vh;*/
    width: 100%;

    /* Posisjon: */
    top: 0;
    left: 0;
    margin: 0;
    margin-top: var(--nav-height);
    position: fixed;

    /* Bakgrunn: */
    background-color: rgba(0, 43, 142, 0.9);

    /*Effekter:*/
    box-shadow: 0 1rem 4rem rgba(0,0,0,0.5);

    /*Anim:*/
}

.menu_close{
    opacity: 0;
    -webkit-transform: translateY(-100vh);
    -moz-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    -o-transform: translateY(-100vh);
    transform: translateY(-100vh);
    transition-property: opacity, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.menu_open{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    transition-property: opacity, transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

[data-nav-header] > [data-content="header"]{
    /*Visning:*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    /*Dimensjon*/
    height: auto;

    /*Posisjon:*/
    margin: 0 auto;
    margin-top: calc( var(--nav-height) * 0.5);
    position: relative;
}

[data-nav-header] > [data-content="header"] [data-col]{
    margin-bottom: 3rem;
}

[data-nav-header] > [data-content="header"] p{
    /*Typo:*/
    font-size: 1.6rem;
    font-weight: 900;
    color: white;

    /*Dimensjoner:*/
    margin-bottom: .75em;
}

[data-nav-header] ul{
    /* Visning: */
    display: flex;
    flex-direction: column;
    list-style-type: none;

    /* Dimensjoner: */
    height: 100%;

    /* Posisjon: */
    position: relative;
}

[data-nav-header] ul li:not(:last-child){
    /* Posisjon: */
    margin-bottom: .5em;
}

[data-nav-header] a{
    /* Visning: */
    text-decoration: none;

    /*Typo:*/
    font-size: 1.3rem;
    font-weight: 600;
    /*letter-spacing: .05em;*/
    /*text-transform: uppercase;*/
    color: white;
}
[data-nav-header] a:hover{
    color: var(--ikea-gul);
}

ikea-nav-button{
    /*Visning:*/
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    border-radius: .5rem;

    /*Typo:*/
    font-family: var(--default-font);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1em;
    text-transform: uppercase;
    color: white;

    /*Dimensjoner:*/
    padding: .5em .75em;

    /*Bakgrunn:*/
    background-color: var(--ikea-blå);

}

ikea-nav-button::before{
    font-family: "Material Icons";
    font-size: 1.3em;
    content: "\E5D2";
    color: inherit !important;

    margin-right: .4em;
}

ikea-nav-button:hover{
    /*Typo:*/
    color: var(--ikea-gul) !important;

    /*Effekter:*/
    box-shadow: 0 0 .5rem rgba(0,0,0,0.5);
}

/*
#################################################################################
### HEADER: SLUTT
#################################################################################
*/




/*
=======================================
*/




/*
#################################################################################
### MAIN: START
#################################################################################
*/

main{
    /* Kompensasjon for høyde på navbar. */
    margin-top: var(--nav-height);
    max-width: 100%;
}

section{
    /* Visning: */
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;

    /* Dimensjoner: */
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    /* Posisjon: */
    position: relative;
}

main section{
    /* Posisjon: */
    padding: var(--section-vc-padding) 0;
}

section > img,
section > video{
    /* Visning: */
    display: flex;
    object-fit: cover;
    object-position: center;

    /* Dimensjoner: */
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;

    /* Posisjon: */
    position: absolute;
    top: 0;
    left: 0;

    /* Synlighet: */
    z-index: -1;
}

[data-content="main"]{
    /* Visning: */
    display: flex;
}

main [data-col]{
    /* Dimensjoner: */
    margin-top: 3rem;
    margin-bottom: 3rem;
}

[data-fullscreen]{
    /* Visning: */
    align-items: center; 

    /* Dimensjoner: */
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;

    /* Posisjon: */
    padding: 0 0;
    margin-top: var(--nav-height-minus);
}

[data-overlay]::after{
    /* Visning: */
    display: flex;
    content: "";
    z-index: -1;

    /* Dimensjoner: */
    min-width: 100%;
    min-height: 100%;

    /* Posisjon: */
    position: absolute;
    top: 0;
    left: 0;
}
[data-overlay="dark"]::after{background-color: rgba(0, 0, 0, 0.3);}
[data-overlay="light"]::after{background-color: rgba(255, 255, 255, 0.3);}

/*
#################################################################################
### MAIN: SLUTT
#################################################################################
*/




/*
=======================================
*/




/*
#################################################################################
### FOOTER: START
#################################################################################
*/

footer{
    background-color: var(--ikea-blå);
}

footer h3,
footer p,
footer a,
footer ul,
footer li{
    color: white;
}

ikea-logo[data-logo="footer"]{
    /*Code if needed*/
}

footer section:not(:last-child) [data-col]{
    /*Dimensjoner:*/
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer ul{
    list-style-type: none;
}

footer [data-footer="main"]{
    /*Dimensjoner:*/
    padding: var(--footer-vc-padding) 0;

    /*Typo:*/
    font-size: 1.2rem;
}

footer [data-footer="creds"]{
    /* Visning: */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Dimensjoner: */
    height: var(--nav-height);

    /*Typo:*/
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1em;
    word-spacing: .2em;
    text-transform: uppercase;

    /* Bakgrunn: */
    background-color: rgba(0, 0, 0, 0.5);
}

footer [data-footer="creds"] p{
    color: rgba(255,255,255,0.5);
    text-align: center;
}

footer section:last-child [data-col]{
    /* Visning: */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*Dimensjoner:*/
    height: 100%;
}

/*
#################################################################################
### FOOTER: SLUTT
#################################################################################
*/