/*
#################################################################################
### DESKTOP: START
#################################################################################
*/

@media screen and (min-width: 1000px){
    
    main [data-content], footer [data-content], [data-nav-header] [data-content]{
        flex-direction: row;
    }

    [data-col="1"]{width: 100%;}
    [data-col="2"]{width: calc(100% / 2);}
    [data-col="3"]{width: calc(100% / 3);}

    [data-nav-header]{
        width: calc(var(--content-max-width) + 2rem);
        left: calc( 50% - (var(--content-max-width) + 2rem) / 2 );
    }
    
}
    
/*
#################################################################################
### DESKTOP: END
#################################################################################
*/




/*
=======================================
*/




/*
#################################################################################
### TABLET: START
#################################################################################
*/

/* Code here. */

/*
#################################################################################
### TABLET: END
#################################################################################
*/




/*
=======================================
*/




/*
#################################################################################
### MOBILE: START
#################################################################################
*/
    
@media screen and (max-width: 999px){
    
    main [data-content], footer [data-content], [data-nav-header] [data-content]{
        flex-direction: column;
    }

    html, body{
        font-size: 8px;
    }

    body main section h1{font-size: 3.5rem;}
    body main section h2{font-size: 2.5rem;}
    body main section h3{font-size: 2rem;}
    body main section h4{font-size: 1.5rem;}
    body main section p{font-size: 1.4rem;}

    body header [data-nav-header] [data-content="header"] [data-col] > p{font-size: 2.5rem}
    body header [data-nav-header] [data-content="header"] [data-col] > ul li a{font-size: 2rem}

    body main section [data-button="large"]{font-size: 1.8rem;}

    body header ikea-nav-button{font-size: 1.9rem;}

    /* [data-col="1"]{width: 100%;}
    [data-col="2"]{width: 100%;}
    [data-col="3"]{width: 100%;} */

}

/*
#################################################################################
### MOBILE: END
#################################################################################
*/