/*
#################################################################################
### DESKTOP: START
#################################################################################
*/

@media screen and (min-width: 1000px){
    
    main [data-content], footer [data-content]{
        flex-direction: row;
    }

    [data-col="1"]{width: 100%;}
    [data-col="2"]{width: calc(100% / 2);}
    [data-col="3"]{width: calc(100% / 3);}
    
}
    
/*
#################################################################################
### DESKTOP: END
#################################################################################
*/




/*
=======================================
*/


/*
#################################################################################
### TABLET: START
#################################################################################
*/

/* Code here. */

/*
#################################################################################
### TABLET: END
#################################################################################
*/




/*
=======================================
*/


/*
#################################################################################
### MOBILE: START
#################################################################################
*/
    
@media screen and (max-width: 999px){
    
    main [data-content], footer [data-content]{
        flex-direction: column;
    }

    /* [data-col="1"]{width: 100%;}
    [data-col="2"]{width: 100%;}
    [data-col="3"]{width: 100%;} */

}

/*
#################################################################################
### MOBILE: END
#################################################################################
*/